@font-face {
    font-family: 'Cormorant-Bold';
    src: url('../fonts/Cormorant-Bold.eot');
    src: local('☺'), url('../fonts/Cormorant-Bold.woff') format('woff'), url('../fonts/Cormorant-Bold.ttf') format('truetype'), url('../fonts/Cormorant-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant-BookItalic';
    src: url('../fonts/Cormorant-BookItalic.eot');
    src: local('☺'), url('../fonts/Cormorant-BookItalic.woff') format('woff'), url('../fonts/Cormorant-BookItalic.ttf') format('truetype'), url('../fonts/Cormorant-BookItalic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant-Light';
    src: url('../fonts/Cormorant-Light.eot');
    src: local('☺'), url('../fonts/Cormorant-Light.woff') format('woff'), url('../fonts/Cormorant-Light.ttf') format('truetype'), url('../fonts/Cormorant-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant-Regular';
    src: url('../fonts/Cormorant-Regular.eot');
    src: local('☺'), url('../fonts/Cormorant-Regular.woff') format('woff'), url('../fonts/Cormorant-Regular.ttf') format('truetype'), url('../fonts/Cormorant-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/PTS55F.eot');
    src: local('☺'), url('../fonts/PTS55F.woff') format('woff'), url('../fonts/PTS55F.ttf') format('truetype'), url('../fonts/PTS55F.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 0;
}

.nav-bar-place-holder {
    width: 100%;
    height: 61px;
    position: relative;
}

.nav-bar {
    width: 100%;
    height: 61px;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    z-index: 1001;
}

.nav-bar .carcass {
    width: 1200px;
    height: 61px;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

.nav-bar .carcass .logo {
    width: 110px;
    height: 60px;
    float: left;
    margin-left: 20px;
    background: url("../images/logo.png") no-repeat center;
}

.nav-bar .carcass .menu {
    float: right;
    margin-right: 20px;
}

.nav-bar .carcass .menu ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    height: 61px;
    position: relative;
}

.nav-bar .carcass .menu ul li.element {
    margin-top: 0;
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    height: 43px;
    border: 1px solid rgba(255, 255, 255, 0);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-bar .carcass .menu ul li.active {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    border-bottom: 3px solid #a30f1d;
}

.nav-bar .carcass .menu ul li {
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #262626;
    text-decoration: none;
}

.nav-bar .carcass .menu ul li.element:Hover {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    border-bottom: 3px solid #a30f1d;

    -webkit-transition: border-left,border-right,border-top  0.5s;
    -moz-transition: border-left,border-right,border-top 0.5s;
    -ms-transition: border-left,border-right,border-top 0.5s;
    -o-transition: border-left,border-right,border-top 0.5s;
    transition: border-left,border-right,border-top 0.5s;
}

.nav-bar .carcass .menu ul li.special {
    padding: 7px 15px;
    border: 2px solid #a30f1d;
    display: inline-block;
    margin-left: 15px;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: #a30f1d;
    font-family: Open-Sans, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-bar .carcass .menu ul li.special:Hover {
    background: #a30f1d;
    color: #ffffff;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*====================================================================================================================*/

.header {
    width: 100%;
    height: 585px;
    background: url("../images/header.jpg") center;
    background-size: cover;
    position: relative;
}

.header .dark-effect {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0, 0.7);
}

.header .carcass {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
}

.header .carcass .title {
    position: relative;
    font-family: Cormorant-Bold, sans-serif;
    font-size: 42px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 210px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    text-align: center;
    padding: 0;
}

.header .carcass .description {
    text-align: center;
    font-family: Cormorant-BookItalic, sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin-top: 25px;
}

.header .carcass .button {
    text-align: center;
    margin-top: 50px;
}

.header .carcass .button .tdm-button {
    font-family: Open-Sans, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #a30f1d;
    padding: 13px 30px;
    cursor: pointer;
    letter-spacing: 4px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.header .carcass .button .tdm-button:Hover {
    background: #a30f1d;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.header .carcass .button .tdm-button:focus {
    outline: none;
}

.header .carcass .button .tdm-button:active {
    box-shadow: 0 0 5px 5px #0f7ea3;
}

/*====================================================================================================================*/

.news {
    width: 100%;
    height: 605px;
    background: #ffffff;
    position: relative;
    border-bottom: 1px solid #dcdcdc;
}

.news .news-carcass {
    width: 1200px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0);
}

.news-page {
    width: 945px;
    height: 499px;
    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
}

.news-page .left-bar {
    width: 545px;
    height: 499px;
    float: left;
    position: relative;
}

.news-page-title {
    font-family: Cormorant-Bold, sans-serif;
    font-size: 20px;
    color: #a30f1d;
    text-transform: uppercase;
}

.news-wrap {
    width: 543px;
    height: 378px;
    margin-top: 35px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.news-wrap table {
    padding: 0;
    border: 0;
    margin: 0;
}

.news-wrap table tr {
    margin-bottom: 20px;
}

.news-wrap-date {
    width: 64px;
    height: 64px;
    border: 3px solid #a30f1d;
    text-align: center;
    margin-right: 25px;
}

.news-wrap-date-day {
    font-family: Cormorant-Light, sans-serif;
    font-size: 36px;
    color: #a30f1d;
    margin-bottom: 0;
}

.news-wrap-date-month {
    font-family: Cormorant-Light, sans-serif;
    font-size: 15px;
    color: #a30f1d;
    margin-top: 0;
}

.news-wrap-title {
    height: 44px;
    width: 380px;
    border-bottom: 1px solid #a30f1d;
    font-family: Cormorant-Bold, sans-serif;
    font-size: 24px;
    color: #000000;
}

.news-wrap-content {
    width: 380px;
    padding-top: 20px;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    min-height: 142px;
}

.news-page .right-bar {
    width: 395px;
    height: 499px;
    float: right;
}

/*====================================================================================================================*/

.about {
    width: 100%;
    height: 1439px;
    position: relative;
    border: 0;
}

.about-carcass {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0);
    z-index: 1003;
}

.about-block-title {
    width: 253px;
    height: 40px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Cormorant-Bold, sans-serif;
    font-size: 30px;
    color: #000;
}

.about-block-content-wrap {
    width: 944px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #000000;
    text-align: justify;
}

.about .pillar-1 {
    width: 26px;
    height: 250px;
    background: rgba(163, 15, 29, 0.7);
    margin-right: 25px;
    position: absolute;
    bottom: 0;
    left: 184px;
}

.about .pillar-2 {
    width: 26px;
    height: 274px;
    background: rgba(163, 15, 29, 0.7);
    margin-right: 25px;
    position: absolute;
    bottom: 0;
    left: 233px;
}

.about .pillar-3 {
    width: 26px;
    height: 300px;
    background: rgba(163, 15, 29, 0.7);
    position: absolute;
    bottom: 0;
    left: 283px;
}

.about-quote {
    width: 605px;
    margin-top: 387px;
    margin-left: auto;
    margin-right: 0;
    font-family: Cormorant-BookItalic, sans-serif;
    font-size: 20px;
    color: #000;
    text-align: justify;
    border: 3px solid #a30f1d;
    padding: 15px;
}

.about-block-background {
    width: 100%;
    height: 906px;
    background: url("../images/about-background.png") center no-repeat;
    position: absolute;
    bottom: 0;
    z-index: -1;
}


/*====================================================================================================================*/

.mission {
    width: 100%;
    height: 826px;
    position: relative;
    background: #282828;
}

.mission .pillar-1 {
    width: 26px;
    height: 250px;
    background: #a30f1d;
    margin-right: 25px;
    position: absolute;
    top: 0;
    left: 184px;
}

.mission .pillar-2 {
    width: 26px;
    height: 274px;
    background: #a30f1d;
    margin-right: 25px;
    position: absolute;
    top: 0;
    left: 233px;
}

.mission .pillar-3 {
    width: 26px;
    height: 300px;
    background: #a30f1d;
    position: absolute;
    top: 0;
    left: 283px;
}

.mission-carcass {
    width: 1200px;
    height: 825px;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 0 auto;
    position: relative;
}

.mission-title {
    font-family: Cormorant-Bold, sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

.mission-delimiter {
    width: 80px;
    height: 3px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    background: #a30f1d;
}

.mission-description {
    text-align: center;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mission-grid {
    margin-top: 40px;
    width: 944px;
    margin-left: auto;
    margin-right: auto;
}

.col-left {
    float: left;
    width: 327px;
    position: relative;
}

.col-right {
    float: right;
    width: 383px;
    position: relative;
}

.block-1 {
    width: 100%;
    height: 205px;
    background: url("../images/block1.png") no-repeat center;
    padding: 5px;
}

.block-3 {
    margin-top: 40px;
    width: 100%;
    height: 298px;
    background: url("../images/block3.png") no-repeat center;
    padding: 5px;
}

.block-2 {
    width: 100%;
    height: 205px;
    background: url("../images/block2.png") no-repeat center;
    padding: 5px;
}


.block-4 {
    margin-top: 40px;
    width: 100%;
    height: 298px;
    background: url("../images/block4.png") no-repeat center;
    padding: 5px;
}

.block-header {
    font-family: Cormorant-Regular, sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.block-content {
    margin-top: 30px;
    width: 100%;
    text-align: left;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #ffffff;
}

/*====================================================================================================================*/

.services {
    width: 100%;
    height: 897px;
    position: relative;
    background: #eeeeee;
}

.services-carcass {
    width: 1200px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
    margin: 0 auto;
}

.services-grid {
    width: 1160px;
    height: 745px;
    margin: 50px auto 0 auto;
    border: 1px solid rgba(0, 0, 255, 0);
}

.services-block {
    width: 374px;
    height: 502px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0);
    background: #ffffff;
    position: relative;
    vertical-align: top;
}

.services-block:Hover > .services-block-preview .dark-effect {
    background: rgba(0,0,0,0);

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.services-block:nth-child(2) {
    margin-left: 16px;
    margin-right: 16px;
}

.services-block-preview {
    width: 100%;
    height: 238px;
    background: url("../images/lawer.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

.services-block-preview .dark-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.services-block-title {
    padding: 0 38px 0 38px;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 30px;
    color: #010101;
    margin-top: 24px;
    min-height: 68px;
}

.services-block-description {
    padding: 0 24px 0 24px;
    font-family: Open-Sans, sans-serif;
    font-size: 16px;
    color: #757575;
    margin-top: 22px;
}

.services-block-footer {
    width: 100%;
    text-align: center;
}

.services-block-button {
    font-family: Open-Sans, sans-serif;
    font-size: 15px;
    color: #a30f1d;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 10px 10px 10px 15px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.services-block-button:Hover {
    background: #a30f1d;
    border: 1px solid #a30f1d;
    color: #ffffff;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.services-block-button:focus {
    outline: none;
}

/*====================================================================================================================*/

.team {
    width: 100%;
    height: 938px;
    position: relative;
    border-bottom: 1px solid #262626;
}

.team-carcass {
    width: 1200px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
    margin: 0 auto;
}

.team-slider-block {
    width: 1071px;
    height: 668px;
    position: relative;
    margin: 50px auto 0 auto;
}

.team-slider-block-helper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.team-slider-block-helper ul {
    padding: 0;
    margin: 0;
    width: 9999px;
    height: 100%;
    position: relative;
}

.team-slider-block-helper ul li {
    list-style-type: none;
    width: 1071px;
    height: 100%;
    position: relative;
    display: inline-block;
}

.team-left-bar {
    float: left;
    width: 267px;
    height: 100%;
    position: relative;

}

.team-right-bar {
    float: right;
    width: 685px;
    height: 100%;
    margin-right: 42px;
    position: relative;
}

.team-photo {
    width: 100%;
    height: 350px;
    background: #a30f1d;
}

.team-right-header {
    font-family: Cormorant-Bold, sans-serif;
    font-size: 30px;
    color: #000;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
}

.team-right-header div {
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #000;
}

.team-right-content {
    width: 100%;
    text-align: justify;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
}

.team-right-education span {
    font-family: Cormorant-Bold, sans-serif;
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
}

.team-right-education {
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
}

.team-right-experience {
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #000;
    padding-top: 20px;
}

.team-slider-pagination {
    width: 168px;
    height: 10px;
    margin: 20px auto;
}

.team-slider-pagination ul {
    padding: 0;
}

.team-slider-pagination ul li {
    list-style-type: none;
    display: inline-block;
    width: 45px;
    height: 5px;
    border: 1px solid #565652;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-slider-pagination ul li.active {
    border: 1px solid #a30f1d;
    background: #a30f1d;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-slider-pagination ul li:nth-child(2) {
    margin-left: 7px;
    margin-right: 7px;
}

/*====================================================================================================================*/