@font-face {
    font-family: 'Cormorant-Bold';
    src: url('../fonts/Cormorant-Bold.eot');
    src: local('☺'), url('../fonts/Cormorant-Bold.woff') format('woff'), url('../fonts/Cormorant-Bold.ttf') format('truetype'), url('../fonts/Cormorant-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant-BookItalic';
    src: url('../fonts/Cormorant-BookItalic.eot');
    src: local('☺'), url('../fonts/Cormorant-BookItalic.woff') format('woff'), url('../fonts/Cormorant-BookItalic.ttf') format('truetype'), url('../fonts/Cormorant-BookItalic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant-Light';
    src: url('../fonts/Cormorant-Light.eot');
    src: local('☺'), url('../fonts/Cormorant-Light.woff') format('woff'), url('../fonts/Cormorant-Light.ttf') format('truetype'), url('../fonts/Cormorant-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant-Regular';
    src: url('../fonts/Cormorant-Regular.eot');
    src: local('☺'), url('../fonts/Cormorant-Regular.woff') format('woff'), url('../fonts/Cormorant-Regular.ttf') format('truetype'), url('../fonts/Cormorant-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/PTS55F.eot');
    src: local('☺'), url('../fonts/PTS55F.woff') format('woff'), url('../fonts/PTS55F.ttf') format('truetype'), url('../fonts/PTS55F.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 0;
}

.nav-bar-place-holder {
    width: 100%;
    height: 61px;
    position: relative;
}

.nav-bar {
    width: 100%;
    height: 61px;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    z-index: 1001;
}

.nav-bar .carcass {
    width: 1200px;
    height: 61px;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

.nav-bar .carcass .logo {
    width: 110px;
    height: 60px;
    float: left;
    margin-left: 20px;
    background: url("../images/logo.png") no-repeat center;
}

.nav-bar .carcass .menu {
    float: right;
    margin-right: 20px;
}

.nav-bar .carcass .menu ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    height: 61px;
    position: relative;
}

.nav-bar .carcass .menu ul li.element {
    margin-top: 0;
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    height: 43px;
    border: 1px solid rgba(255, 255, 255, 0);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-bar .carcass .menu ul li.active {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    border-bottom: 3px solid #a30f1d;
}

.nav-bar .carcass .menu ul li {
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #262626;
    text-decoration: none;
}

.nav-bar .carcass .menu ul li.element:Hover {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    border-bottom: 3px solid #a30f1d;

    -webkit-transition: border-left,border-right,border-top  0.5s;
    -moz-transition: border-left,border-right,border-top 0.5s;
    -ms-transition: border-left,border-right,border-top 0.5s;
    -o-transition: border-left,border-right,border-top 0.5s;
    transition: border-left,border-right,border-top 0.5s;
}

.nav-bar .carcass .menu ul li.special {
    padding: 7px 15px;
    border: 2px solid #a30f1d;
    display: inline-block;
    margin-left: 15px;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: #a30f1d;
    font-family: Open-Sans, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-bar .carcass .menu ul li.special:Hover {
    background: #a30f1d;
    color: #ffffff;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*====================================================================================================================*/

.header {
    width: 100%;
    height: 585px;
    background: url("../images/header.jpg") center;
    background-size: cover;
    position: relative;
}

.header .dark-effect {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0, 0.7);
}

.header .carcass {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
}

.header .carcass .title {
    position: relative;
    font-family: Cormorant-Bold, sans-serif;
    font-size: 42px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 210px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    text-align: center;
    padding: 0;
}

.header .carcass .description {
    text-align: center;
    font-family: Cormorant-BookItalic, sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin-top: 25px;
}

.header .carcass .button {
    text-align: center;
    margin-top: 50px;
}

.header .carcass .button .tdm-button {
    font-family: Open-Sans, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #a30f1d;
    padding: 13px 30px;
    cursor: pointer;
    letter-spacing: 4px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.header .carcass .button .tdm-button:Hover {
    background: #a30f1d;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.header .carcass .button .tdm-button:focus {
    outline: none;
}

.header .carcass .button .tdm-button:active {
    box-shadow: 0 0 5px 5px #0f7ea3;
}

/*====================================================================================================================*/

.news {
    width: 100%;
    height: 605px;
    background: #ffffff;
    position: relative;
    border-bottom: 1px solid #dcdcdc;
}

.news .news-carcass {
    width: 1200px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0);
}

.news-page {
    width: 945px;
    height: 499px;
    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
}

.news-page .left-bar {
    width: 545px;
    height: 499px;
    float: left;
    position: relative;
}

.news-page-title {
    font-family: Cormorant-Bold, sans-serif;
    font-size: 20px;
    color: #a30f1d;
    text-transform: uppercase;
}

.news-wrap {
    width: 543px;
    height: 378px;
    margin-top: 35px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.news-wrap table {
    padding: 0;
    border: 0;
    margin: 0;
}

.news-wrap table tr {
    margin-bottom: 20px;
}

.news-wrap-date {
    width: 64px;
    height: 64px;
    border: 3px solid #a30f1d;
    text-align: center;
    margin-right: 25px;
}

.news-wrap-date-day {
    font-family: Cormorant-Light, sans-serif;
    font-size: 36px;
    color: #a30f1d;
    margin-bottom: 0;
}

.news-wrap-date-month {
    font-family: Cormorant-Light, sans-serif;
    font-size: 15px;
    color: #a30f1d;
    margin-top: 0;
}

.news-wrap-title {
    height: 44px;
    width: 380px;
    border-bottom: 1px solid #a30f1d;
    font-family: Cormorant-Bold, sans-serif;
    font-size: 24px;
    color: #000000;
}

.news-wrap-content {
    width: 380px;
    padding-top: 20px;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    min-height: 142px;
}

.news-page .right-bar {
    width: 395px;
    height: 499px;
    float: right;
}

/*====================================================================================================================*/

.about {
    width: 100%;
    height: 1439px;
    position: relative;
    border: 0;
}

.about-carcass {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0);
    z-index: 1003;
}

.about-block-title {
    width: 253px;
    height: 40px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Cormorant-Bold, sans-serif;
    font-size: 30px;
    color: #000;
}

.about-block-content-wrap {
    width: 944px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #000000;
    text-align: justify;
}

.about .pillar-1 {
    width: 26px;
    height: 250px;
    background: rgba(163, 15, 29, 0.7);
    margin-right: 25px;
    position: absolute;
    bottom: 0;
    left: 184px;
}

.about .pillar-2 {
    width: 26px;
    height: 274px;
    background: rgba(163, 15, 29, 0.7);
    margin-right: 25px;
    position: absolute;
    bottom: 0;
    left: 233px;
}

.about .pillar-3 {
    width: 26px;
    height: 300px;
    background: rgba(163, 15, 29, 0.7);
    position: absolute;
    bottom: 0;
    left: 283px;
}

.about-quote {
    width: 605px;
    margin-top: 387px;
    margin-left: auto;
    margin-right: 0;
    font-family: Cormorant-BookItalic, sans-serif;
    font-size: 20px;
    color: #000;
    text-align: justify;
    border: 3px solid #a30f1d;
    padding: 15px;
}

.about-block-background {
    width: 100%;
    height: 906px;
    background: url("../images/about-background.png") center no-repeat;
    position: absolute;
    bottom: 0;
    z-index: -1;
}


/*====================================================================================================================*/

.mission {
    width: 100%;
    height: 826px;
    position: relative;
    background: #282828;
}

.mission .pillar-1 {
    width: 26px;
    height: 250px;
    background: #a30f1d;
    margin-right: 25px;
    position: absolute;
    top: 0;
    left: 184px;
}

.mission .pillar-2 {
    width: 26px;
    height: 274px;
    background: #a30f1d;
    margin-right: 25px;
    position: absolute;
    top: 0;
    left: 233px;
}

.mission .pillar-3 {
    width: 26px;
    height: 300px;
    background: #a30f1d;
    position: absolute;
    top: 0;
    left: 283px;
}

.mission-carcass {
    width: 1200px;
    height: 825px;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 0 auto;
    position: relative;
}

.mission-title {
    font-family: Cormorant-Bold, sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

.mission-delimiter {
    width: 80px;
    height: 3px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    background: #a30f1d;
}

.mission-description {
    text-align: center;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mission-grid {
    margin-top: 40px;
    width: 944px;
    margin-left: auto;
    margin-right: auto;
}

.col-left {
    float: left;
    width: 327px;
    position: relative;
}

.col-right {
    float: right;
    width: 383px;
    position: relative;
}

.block-1 {
    width: 100%;
    height: 205px;
    background: url("../images/block1.png") no-repeat center;
    padding: 5px;
}

.block-3 {
    margin-top: 40px;
    width: 100%;
    height: 298px;
    background: url("../images/block3.png") no-repeat center;
    padding: 5px;
}

.block-2 {
    width: 100%;
    height: 205px;
    background: url("../images/block2.png") no-repeat center;
    padding: 5px;
}


.block-4 {
    margin-top: 40px;
    width: 100%;
    height: 298px;
    background: url("../images/block4.png") no-repeat center;
    padding: 5px;
}

.block-header {
    font-family: Cormorant-Regular, sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.block-content {
    margin-top: 30px;
    width: 100%;
    text-align: left;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #ffffff;
}

/*====================================================================================================================*/

.services {
    width: 100%;
    height: 897px;
    position: relative;
    background: #eeeeee;
}

.services-carcass {
    width: 1200px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
    margin: 0 auto;
}

.services-grid {
    width: 1160px;
    height: 745px;
    margin: 50px auto 0 auto;
    border: 1px solid rgba(0, 0, 255, 0);
}

.services-block {
    width: 374px;
    height: 502px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0);
    background: #ffffff;
    position: relative;
    vertical-align: top;
}

.services-block:Hover > .services-block-preview .dark-effect {
    background: rgba(0,0,0,0);

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.services-block:nth-child(2) {
    margin-left: 16px;
    margin-right: 16px;
}

.services-block-preview {
    width: 100%;
    height: 238px;
    background: url("../images/lawer.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

.services-block-preview .dark-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.services-block-title {
    padding: 0 38px 0 38px;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 30px;
    color: #010101;
    margin-top: 24px;
    min-height: 68px;
}

.services-block-description {
    padding: 0 24px 0 24px;
    font-family: Open-Sans, sans-serif;
    font-size: 16px;
    color: #757575;
    margin-top: 22px;
}

.services-block-footer {
    width: 100%;
    text-align: center;
}

.services-block-button {
    font-family: Open-Sans, sans-serif;
    font-size: 15px;
    color: #a30f1d;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 10px 10px 10px 15px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.services-block-button:Hover {
    background: #a30f1d;
    border: 1px solid #a30f1d;
    color: #ffffff;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.services-block-button:focus {
    outline: none;
}

/*====================================================================================================================*/

.team {
    width: 100%;
    height: 938px;
    position: relative;
    border-bottom: 1px solid #262626;
}

.team-carcass {
    width: 1200px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
    margin: 0 auto;
}

.team-slider-block {
    width: 1071px;
    height: 668px;
    position: relative;
    margin: 50px auto 0 auto;
}

.team-slider-block-helper {
    width: 100%;
    height: 100%;
    position: relative;
    /*overflow: hidden;*/
}

.team-slider-block-helper .slick-dots {
    padding-left: 0;
}

.team-slider-block-helper .slick-dots li {
    list-style-type: none;
    display: inline-block;
    width: 45px;
    height: 5px;
    border: 1px solid #565652;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    overflow: hidden;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-slider-block-helper .slick-dots li.slick-active {
    border: 1px solid #a30f1d;
    background: #a30f1d;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-slider-block-helper .slick-slide:focus {
    outline: none;
    cursor: pointer;
}

.team-left-bar {
    float: left;
    width: 267px;
    height: 100%;
    position: relative;

}

.team-right-bar {
    float: right;
    width: 685px;
    height: 100%;
    margin-right: 42px;
    position: relative;
}

.team-photo {
    width: 100%;
    height: 350px;
    background: #a30f1d;
    position: relative;
    overflow: hidden;
}

.team-photo > img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.team-right-header {
    font-family: Cormorant-Bold, sans-serif;
    font-size: 30px;
    color: #000;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
}

.team-right-header div {
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #000;
}

.team-right-content {
    width: 100%;
    text-align: justify;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
}

.team-right-education span {
    font-family: Cormorant-Bold, sans-serif;
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
}

.team-right-education {
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
}

.team-right-experience {
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #000;
    padding-top: 20px;
}

.team-slider-pagination {
    width: 168px;
    height: 10px;
    margin: 20px auto;
}

.team-slider-pagination ul {
    padding: 0;
}

.team-slider-pagination ul li {
    list-style-type: none;
    display: inline-block;
    width: 45px;
    height: 5px;
    border: 1px solid #565652;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-slider-pagination ul li.active {
    border: 1px solid #a30f1d;
    background: #a30f1d;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-slider-pagination ul li:nth-child(2) {
    margin-left: 7px;
    margin-right: 7px;
}

/*====================================================================================================================*/

.human-resource {
    width: 100%;
    height: 1133px;
    position: relative;
    background: #ffffff;
}

.hr-carcass {
    width: 1200px;
    height: 100%;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 0 auto;
}

.hr-block-title {
    width: 253px;
    height: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Cormorant-Bold, sans-serif;
    font-size: 30px;
    color: #000;
}

.hr-content {
    width: 944px;
    margin: 40px auto;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #000;
}

.hr-link {
    font-family: Cormorant-Bold, sans-serif;
    font-size: 20px;
    color: #a30f1d;
    text-decoration: none;
}

.hr-link:Visited {
    color: #a30f1d;
    text-decoration: none;
}

.hr-link:Hover {
    text-decoration: underline;
}

.hr-link:focus {
    outline: none;
}

/*====================================================================================================================*/

.ask {
    width: 100%;
    height: 595px;
    position: relative;
    background: #a30f1d;
}

.ask-carcass {
    width: 1200px;
    height: 100%;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 0 auto;
}

.ask-form {
    width: 516px;
    height: 466px;
    margin: 94px auto 0 auto;
    position: relative;
}

.ask-form-group {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.ask-form-name {
    width: 473px;
    height: 44px;
    background: url("../images/icons/user-icon.gif") no-repeat #ffffff;
    background-position-y: center;
    background-position-x: 15px;
    padding-left: 40px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: Cormorant-Light, sans-serif;
    font-size: 18px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.ask-form-name:focus {
    outline: none;
    box-shadow: 0 0 4px 4px #e2002b;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.ask-form-phone {
    width: 473px;
    height: 44px;
    background: url("../images/icons/phone-icon.gif") no-repeat #ffffff;
    background-position-y: center;
    background-position-x: 15px;
    padding-left: 40px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: Cormorant-Light, sans-serif;
    font-size: 18px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.ask-form-phone:focus {
    outline: none;
    box-shadow: 0 0 4px 4px #e2002b;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.ask-form-message {
    width: 473px;
    background: url("../images/icons/pen-icon.gif") no-repeat #ffffff;
    background-position-y: 15px;
    background-position-x: 15px;
    padding-top: 15px;
    padding-left: 40px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: Cormorant-Light, sans-serif;
    font-size: 18px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.ask-form-message:focus {
    outline: none;
    box-shadow: 0 0 4px 4px #e2002b;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.ask-form-email {
    width: 473px;
    height: 44px;
    background: url("../images/icons/mail-icon.gif") no-repeat #ffffff;
    background-position-y: center;
    background-position-x: 15px;
    padding-left: 40px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: Cormorant-Light, sans-serif;
    font-size: 18px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.ask-form-email:focus {
    outline: none;
    box-shadow: 0 0 4px 4px #e2002b;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.ask-form-button {
    width: 100%;
    height: 44px;
    font-family: Open-Sans, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.ask-form-button:hover {
    outline: none;
    background: #ffffff;
    color: #a30f1d;
    font-size: 20px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*====================================================================================================================*/

.contacts {
    width: 100%;
    height: 586px;
    position: relative;
    background: #bdbdbd;
}

.contacts-wrap {
    width: 424px;
    padding: 30px 30px;
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 101;
    background: #282828;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.contacts-title {
    font-family: Cormorant-Bold, sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.contacts-location {
    font-family: Cormorant-Bold, sans-serif;
    font-size: 16px;
    color: #8d8d8d;
    margin-bottom: 20px;
}

.contacts-location a {
    font-family: Cormorant-Regular, sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.contacts-location a:hover {
    text-decoration: underline;
}

.contacts-phone {
    font-family: Cormorant-Bold, sans-serif;
    font-size: 20px;
    color: #ffffff;
}

/*====================================================================================================================*/

.footer {
    width: 100%;
    height: 93px;
    background: #282828;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0);
}

.copyright {
    width: 320px;
    height: 30px;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin: 40px auto 0 auto;
    text-align: center;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 2000;
    display: none;
}

@keyframes appear {
    from {
        top: -600px;
    }

    to {
        top: 50%;
    }
}
@-moz-keyframes appear {
    from {
        top: -600px;
    }

    to {
        top: 50%;
    }
}
@-webkit-keyframes appear {
    from {
        top: -600px;
    }

    to {
        top: 50%;
    }
}

@keyframes disappear {
    from {
        top: 50%;
    }

    to {
        top: -600px
    }
}
@-moz-keyframes disappear {
from {
    top: 50%;
}

to {
    top: -600px
}
}
@-webkit-keyframes disappear {
    from {
        top: 50%;
    }

    to {
        top: -600px
    }
}

.modal-container {
    width: 800px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #ffffff;

    -webkit-animation-name: appear;
    -moz-animation-name: appear;
    -o-animation-name: appear;
    animation-name: appear;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.modal-container.close {
    -webkit-animation-name: disappear;
    -moz-animation-name: disappear;
    -o-animation-name: disappear;
    animation-name: disappear;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.child {
    width: inherit;
    height: inherit;
    position: relative;
    /*border-top: 1px solid rgba(0, 0, 0, 0);*/
}

.image-wrap {
    width: 250px;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-left: 0;
}

.image-wrap > img {
    position: absolute;
    height: 100%;
    left: 10%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-content-wrap {
    width: 530px;
    height: 100%;
    display: inline-block;
    /*border: 1px solid #000;*/
    margin-left: 18px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}

.modal-content-wrap ul {
    padding-left: 0;
}

.modal-content-wrap ul li {
    list-style-type: decimal;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #282828;
    margin-bottom: 15px;
}

.close-md {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
    font-family: Cormorant-Regular, sans-serif;
    font-size: 20px;
    color: #ffffff;
}